body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-div{
  color: var(--bs-teal);
}
#form-box{
  display: flex;
}

.tasks-header-box {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.tasks-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 2rem 5rem;
}

.card-body {
  text-align: left;
  background-color: rgb(178, 247, 178);
  display: flex;
  flex-direction: column;
}

.button-box {
  margin-left: auto;
  margin-top: 1rem;
}

.task-status {
  display: flex;
  align-items: center;
}

.task-status label {
  margin-right: 8px;
}

#status-filter {
  text-align: center;
  margin-left: 1rem;
}